* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --tableSize: 600px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}

.chess-table {
    background-color: teal;
    width: var(--tableSize);
    height: var(--tableSize);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black;
}

.square {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-table {
    background-color: rgb(255, 252, 255);
}

.black-table {
    background-color: rgb(122, 50, 50);
}


/* Estilo das peças do tabuleiro */
.piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    pointer-events: none;
}

.spotlight {
    background: rgb(244,244,244);
    background: linear-gradient(rgba(193, 213, 218, 0.93), rgba(255, 255, 255, 0.9));
    z-index: 99;
}

.border-view {
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 1px;
}

img {
    height: 65px;
    width: 65px;
    cursor: pointer;
}